body {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#logo {
    background-image: url('../assets/holberton-logo.jpg');
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    background-size: contain;
}